/* -----------left-sidebar -------------*/
.navbar{
    width: 6vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
}
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color:rgba(0,0,0,0.8) ;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(375deg, white,whitesmoke); */
    clip-path: circle(25px at calc(0% + 45px) 45px);
    /* clip-path: circle(25px at calc(100% - 45px) 45px); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    /* right: 20px; */
    left: 10px;
    top: 20px;
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background: #fff;
    /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background-color:rgba(0, 0, 0, 0.01) ;
    color: black;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #be8632;
    color: black;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    /* color: #4158d0; */
    color: white;
  }
  input[type="checkbox"]{
    display: none;
  }
  .user-icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 250px;
    left: 30px;
    /* position: fixed; */
  }
  .fa-brands{
    color: gray;
    padding: 10px;
   
  }
  .fa-brands:hover{
    color: black;
  }
  .fa-user{
    position: fixed;
    color: black ;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 4px 0px 0px 4px;
  }
  #setting{
    position: relative;
   top: 13rem;
   
}
/* -----------left-sidebar-end -------------*/
/* header-start */
/* -----------header------ */
.header{
    display: flex;
    position: absolute;
      top: -20px;
  } 
   .logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .header h4{
    color:white;
   font-size: 20px;
   font-style: italic;
      padding-left: 10px;
      text-transform: uppercase;
      line-height:20px;
      text-shadow: 2px 1px 5px black;
  }
  .fa-phone  {
    color:#fff;
   position: relative;
   top: 15px;
 right: 30px;
   font-size: 20px;
  }
  b{
    color:#fff;
    position: relative;
    bottom: 10px;
  }
  .login {
    margin-left:60px;
   
  }
  .login button {
    color: #be863c;
    background-color:#fff ;
    font-size: 1em;
    min-width: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    line-height: 40px;
  }
  button:hover{
    color:black;
    border: 2px solid #be863c;
    /* background-color: #be863c; */
  }
  .num-btn{
    display: flex;
    flex-direction: row;
    margin-left: 40rem;
  }
  /* header-end */


/***** Top content *****/
 

.top-content .text {
    color: #fff;
}
 

 .top-content{
    display: inline-block;
    width: 100%;
    height: 100vh;
    background: url(../../img/hotel-img-1.jpg)  no-repeat;
    background-size: cover;
 }

 
 .top-content .text h1{
    position: absolute;
    top: 17rem;
    color: #fff;
}
#typewriter{
    overflow: hidden;
    border-right: 0.15rem solid var(--col2);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(12, end),
                bink-caret .5s step-end infinite;
  }
  
  
  @keyframes typing {
    from{width:0}
    to{width: 100%;}
  }
  @media(max-width: 730px){
    .top-content{
      width: 100%;
    }
    #setting{
        position: relative;
        top: 8rem;
    }
    .navbar .user-icon{
        display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    left: 4px;
    }
    .menu-btn{
        left: 3px;
        top: 28px;
        height:30px;
        width: 30px;
        border-radius: 50%;
        font-size: 15px;
    }
    .wrapper{
       width: 100%;
       height: 100%;

       clip-path: circle(10px at calc(0% + 20px)48px);
    }
    .wrapper ul{
        position: absolute;
        top: 28%;
        left: 50%;
      }
      
      .wrapper ul li a{
        font-size: 15px;
        font-weight: 500;
        padding: 5px 30px;
        line-height: 20px;
      }
      .wrapper ul li a:after{
        width: 100%;
        height: 30px;
      }

    .top-content .text h1{
        font-size: 18px;
        text-align: center;
     padding: 5px 30px 10px 20px;
    }
    .header h4{
        font-size: 20px;
        margin-left: 10px;
    }
    .num-btn{
      display: flex;
      flex-direction:row;
      flex-wrap: wrap;
      margin-left: 1rem;
        
    }
  
    .logo{
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }
   .header .fa-phone   {
      display: none;
    }
    b{
      display: none;
    }
   
    .login button {
      margin-right: 20px;
      font-size: 0.8em;
      min-width: 60px;
    }
  }
  /* ------header & navbar complete --------- */
  .about-content{
    display:block;
    width: 100%;
    height: 100vh;
    background:#fff;
  }
 
.inner-bg1{
    padding: 50px;
}
 
h2{
    text-align: center;
    color: #be863c;
}
.row .text{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 50px 50px 20px 50px;
    
}
.row .about-img{
    width: 50%;
   
}
.btn{
   background-color: #be863c;
   border: none;
   margin: 20px 0px 5px 50px;
}

@media(max-width: 730px){
    h2{
        font-size: 25px;
    }
    .about-content{
        width: 100%;
        height: 200vh;
    }
    .row .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px 30px 10px 30px;
    }
    .btn{
        margin: 50px;
    }
    .row .about-img{
        width:50%;
    }
    .row .about-img img{
        width: 270px;
        height: 200px;
    }
}

/* ----------about-part-end --------*/

   /** our_gallery section **/
   
.our_room {
  background-color: #f4f5f7;
  padding: 60px 0 30px 0;
  margin-top: 150px;
}

.our_room .titlepage {
  text-align: center;
}

.our_room .titlepage p {
  color: #121212;
  font-size: 17px;
  margin-top: 20px;
}

.our_room .room {
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
  transition: ease-in all 0.5s;
}

.our_room .room .room_img {
  overflow: hidden;
}

.our_room .room .room_img figure {
  margin: 0;
}

.our_room .room .room_img figure img {
  width: 100%;
  transition: all .5s;
}

.our_room .room .room_img figure img:hover {
  transform: scale(1.2);
}

.our_room .room .bed_room {
  padding: 33px 30px;
}

.our_room .room .bed_room h3 {
  color: #121212;
  font-size: 25px;
  line-height: 20px;
  font-weight: 500;
  transition: ease-in all 0.5s;
  margin: auto;
}

#serv_hover:hover.room {
  cursor: pointer;
  box-shadow: 0px 0px 30px rgba(255, 9, 9, 0.15);
  transition: ease-in all 0.5s;
}
@media(max-width: 730px){
  .our_room{
    position: relative;
    top: 50px;
    left: 40px;
  }
  .our_room h2{
    font-size: 25px;
  }
}
/* book now */
.book-content{
  display: block;
  width: 100%;
  height: 100vh;
  background: url(../../img/booknow.jpg)  no-repeat;
  background-size: cover;
  opacity: 1;
 
}
.booking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20rem;
  margin-left: 30rem;
  /* align-items: center; */
}
.wow{
  margin: 30px;
}
.form{
  width: 400px;
  height: 380px;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  padding: 20px;
  
}
.form h1{
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 500;
  /* text-shadow: 2px 1px 5px black; */
}
.label{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  /* padding: 10px; */
}
#input{
  display: block;
  width: 250px;
  padding: 5px;
  margin-left: 20px;
}
.btn{
  margin-left: 120px;
}
@media(max-width: 730px){
  .book-content{
    margin-top: 50px;
   margin-left: 20px;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .form{
    position: absolute;
    right: 120px;
    bottom: 20px;
    width: 200px;
    height: 340px;
    flex-wrap: wrap;
  }
  .form h1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    /* text-shadow: 2px 1px 5px black; */
  }
  .label{
    color: white;
    font-size: 18px;
    margin-top: 10px;
    /* padding: 10px; */
  }
  #input{
    display: block;
    width: 100px;
    /* padding: 5px; */
    margin-left: 20px;
  }
  .btn{
    width: 100px;
    height: 40px;
    font-size: 18px;
    position: absolute;
    right: 10px;
    
  }
}
/* ---------contact -----------------*/
.container-contact{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cnct{
  margin-top: 50px;
}
.contact {
  width: 50%;
  /* margin-top: 50px; */
  margin-left: 130px;
}
.contact form input {
  display: block;
  margin: 10px;
  width: 500px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  /* border-radius: 10px; */
  border: none;
  border-bottom: 2px solid #be863c;
}
textarea {
  padding: 10px;
  margin-top: 20px;
  /* border-radius: 10px; */
  border: none;
  border-bottom: 2px solid #be863c;
  margin-left: 5px;
  outline: none;
}
input:focus,
textarea:focus {
  border-color: 2px solid rgb(226, 160, 17);
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(247, 173, 14);
}
#btn-3 {
  display: block;
  margin: 50px 0px 100px 150px;
  /* margin-bottom: 200px; */
}
.map {
  width: 50%;
  margin-top: 50px;
}
@media(max-width: 730px){
  .container-contact{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact form input{
    width: 300px;
  height: 40px;
  margin: 20px;
  }
  textarea{
    width: 300px;
  }
  .map {
    width: 50%;
padding: 100px;
    /* margin-top: 50px; */
  }
}
/* ---------------footer-start---------------- */
/***** Footer *****/
 
footer {
  margin-top: 40px;
  padding: 30px 0 0 0;
  background: #444;
  color: #aaa;
  text-align: left;
}

footer h3 {
  color: #aaa;
}

.contact-form {
  padding-top: 20px;
}

.contact-form input[type="text"], 
.contact-form textarea, 
.contact-form textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #666;
  border: 2px solid #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 50px;
  color: #ddd;
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.contact-form textarea, 
.contact-form textarea.form-control {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

.contact-form input[type="text"].input-error, 
.contact-form textarea.input-error, 
.contact-form textarea.form-control.input-error {
  border-color: #ff8a38;
}

.contact-form input[type="text"]:focus, 
.contact-form textarea:focus, 
.contact-form textarea.form-control:focus {
  outline: 0;
  background: #666;
  border: 2px solid #888;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.contact-form input[type="text"]::-moz-placeholder, 
.contact-form textarea::-moz-placeholder, 
.contact-form textarea.form-control::-moz-placeholder { color: #ddd; }

.contact-form input[type="text"]:-ms-input-placeholder, 
.contact-form textarea:-ms-input-placeholder, 
.contact-form textarea.form-control:-ms-input-placeholder { color: #ddd; }

.contact-form input[type="text"]::-webkit-input-placeholder, 
.contact-form textarea::-webkit-input-placeholder, 
.contact-form textarea.form-control::-webkit-input-placeholder { color: #ddd; }

.contact-form button.btn {
  height: 50px;
  margin: 0;
  padding: 0 40px;
  vertical-align: middle;

  background: #ff8a38; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb24b 0%, #ff8a38 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ff8a38)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffb24b 0%,#ff8a38 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */

  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 49px;
  color: #fff;
  text-transform: uppercase;
  -moz-border-radius: 40px; -webkit-border-radius: 40px; border-radius: 40px;
  text-shadow: none;
  box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.contact-form button.btn:hover, 
.contact-form button.btn:active, 
.contact-form button.btn:focus, 
.contact-form button.btn:active:focus, 
.contact-form button.btn.active:focus,
.contact-form button.btn.btn-primary:not(:disabled):not(.disabled):active,
.contact-form button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
  opacity: 0.6;
  outline: 0;
  color: #fff;
  box-shadow: none;

  background: #ff8a38; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb24b 0%, #ff8a38 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ff8a38)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb24b 0%,#ff8a38 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffb24b 0%,#ff8a38 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
}

.footer-social {
  padding-top: 20px;
}

.footer-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  margin-bottom: 10px;
  padding-top: 7px;
  background: #666;
  -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
  font-size: 25px;
  color: #ddd;
  line-height: 40px;
  text-align: center;
}
.footer-social a:hover, .footer-social a:focus { background: #777; color: #eee; }

.footer-social a i { vertical-align: middle; }

.footer-copyright {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px dotted #777;
}

.footer-copyright a { color: #ddd; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #eee; }

.footer-bottom {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 25px;
  background: #3d3d3d;
  text-align: center;
}

.footer-bottom a {
  font-size: 32px;
  color: #666;
  line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }

@media(max-width: 730px){
  .footer-container h3{
    text-align: center;
  }

  .contact-form {
    width: 400px;
    margin-left: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
  }
  input{
    width: 400px;
  }
  .contact-form button{
    width: 170px;
    font-size: small;
   position: relative;
   left: 30px;
    
  }
  .footer-right h3{
    text-align: center;
    margin-top: 50px;
  }
  .footer-social{
    margin-left: 70px;
  }
  .footer-copyright{
    margin-left: 100px;
  }
}